*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log

captures/
*.class

# External native build
.externalNativeBuild/

# Google Services
google-services.json

# Keystore
*.jks
*.keystore

